<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static',filename='style/style.css') }}" rel="stylesheet">
        <title>Portfólio de Igor</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h2 class="logo">Igor da Silva Pereira</h2>
                <nav>
                    <a href="/">Home</a>
                    <a href="/portfolio">Portfólio</a>
                    <a href="/curriculum">Curriculum</a>
                </nav>
            </div>
        </header>


        <div class="baixar-curriculum">
            <a href="doc/Curriculum-Igor.pdf" download>Clique aqui para abrir meu currículo em PDF!</a>
        </div>

        <footer>
            Desenvolvido por <b>Igor da Silva Pereira</b>
        </footer>
         
    </body>
</html>