<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static',filename='style/style.css') }}" rel="stylesheet">
        <title>Portfólio de Igor</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h2 class="logo">Igor da Silva Pereira</h2>
                <nav>
                    <a href="/">Home</a>
                    <a href="/portfolio">Portfólio</a>
                    <a href="/curriculum">Curriculum</a>
                </nav>
            </div>
        </header>

        <div class="pagina-inicial">
            <div class="introducao">
                <img src="{{ url_for('static',filename='img/20220920_192233.jpg') }}" class="img-perfil">

                <div class="quem-sou">
                    <p>&nbsp;&nbsp;Olá, me chamo Igor da Silva Pereira, estou cursando o curso de <b>Desenvolvimento em Software Multiplataforma</b> na instituição <b>FATEC São José dos Campos - Prof. Jessen Vidal</b>.</p>
                    <p>&nbsp;&nbsp;Comecei a me interessar pela área em meados de 2017, porém, fiquei estudando apenas por hobby, até que em 2020 eu comecei a estudar Banco de Dados na Fatec de SJC, entretanto, por alguns imprevistos tive de trancar o curso... até que em 2022, decidi voltar e continuar a minha graduação, só que em outra área, mas focado em desenvolvimento de sites e aplicativos!</p>
                </div>
            </div>

            <div class="contato">
                <p>Me encontre no...</p>
                <a href="https://www.linkedin.com/in/igor-da-silva-pereira-119794159/"><img src="{{ url_for('static',filename='img/logo-linkedin.png') }}"></a>
                <a href="https://github.com/igorpereira28"><img src="{{ url_for('static',filename='img/GitHub-Logo.png') }}"></a>
                <a href="https://igorspereira.com.br"><img src="{{ url_for('static',filename='img/site-logo.png') }}"></a>
            </div>
        </div>

        <footer>
            Desenvolvido por <b>Igor da Silva Pereira</b>
        </footer>
         
    </body>
</html>