<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static',filename='style/style.css') }}" rel="stylesheet">
        <title>Portfólio de Igor</title>
    </head>
    <body>
        <header>
            <div class="container">
                <h2 class="logo">Igor da Silva Pereira</h2>
                <nav>
                    <a href="/homepage">Home</a>
                    <a href="/portfolio">Portfólio</a>
                    <a href="/curriculum">Curriculum</a>
                </nav>
            </div>
        </header>

        <ul class="projetos-portifolio">

            <li>
                <img src="{{ url_for('static',filename='img/currículo.png') }}">
                <p><a href="https://igorspereira.com.br/gere-seu-curriculo/index.php">Faça seu Curriculum</a></p>
            </li>
            
            <li>
                <img src="{{ url_for('static',filename='img/api-logo.png') }}">
                <p><b>API - Interface de Programação de Aplicação</b></p>
                <p><a href="https://github.com/https-github-com-spicecorpdev/spicebank">spicebank</a></p>
            </li>

            <li>
                <img src="{{ url_for('static',filename='img/jogo-logo.png') }}">
                <p><a href="https://igorspereira.com.br/jogos.html">Jogue um jogo</a></p>
            </li>
        </ul>

        <footer>
            Desenvolvido por <b>Igor da Silva Pereira</b>
        </footer>
         
    </body>
</html>