{% extends "base.html" %}

{% block body %}

    <ul class="projetos-portifolio">

        <li>
            <img src="{{ url_for('static',filename='img/currículo.png') }}">
            <p><a href="https://igorspereira.com.br/gere-seu-curriculo/index.php">Faça seu Curriculum</a></p>
        </li>
        
        <li>
            <img src="{{ url_for('static',filename='img/api-logo.png') }}">
            <p><b>API - Interface de Programação de Aplicação</b></p>
            <p><a href="https://github.com/https-github-com-spicecorpdev/spicebank">spicebank</a></p>
        </li>

        <li>
            <img src="{{ url_for('static',filename='img/jogo-logo.png') }}">
            <p><a href="https://igorspereira.com.br/jogos.html">Jogue um jogo</a></p>
        </li>
        
    </ul>

{% endblock %}